<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div formGroupName="bookingGuest">
    <h2>Address</h2>

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" />

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" />

    <label for="last-name">Phone: </label>
    <input id="last-name" type="text" formControlName="phone" />
  </div>

  <ng-container formArrayName="guests">
    <div
      *ngFor="let room of guestControls; let roomIndex = index"
      [formArrayName]="roomIndex"
    >
      <h3>Room no {{ roomIndex }}</h3>

      <div
        *ngFor="let guest of room.controls; let guestIndex = index"
        [formGroupName]="guestIndex"
      >
        <h4>Guest no {{ guestIndex }}</h4>

        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName" />

        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName" />
      </div>
    </div>
  </ng-container>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
